.post--comments {
  width: 100%;
  margin: 10px 0;
  .title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  ul {
    .post--comments--content {
      margin: 5px 0;
      display: flex;
      height: 100px;
      align-items: center;
      .userinfo {
        @include flexbox();
        flex-direction: column;
        margin: 0 10px;
        width: 80px;
        .img {
          width: 60px;
          height: 60px;
          img {
            max-width: 100%;
            border-radius: 50%;
          }
        }
        .name {
          font-size: 1rem;
          width: 100px;
          text-align: center;
        }
      }
      .text {
        @include flexbox();

        border: 1px solid $gray;
        width: 70%;
        height: 70%;
        margin: 0 10px;
        border-radius: 15px;
        background-color: $white;
        &.mine {
          background-color: $main-color;
          color: $white;
          border: 1px solid $light-main-color;
        }
      }
      .btn {
        color: red;
        margin-left: auto;
      }
    }
  }
  .post--comments--input {
    @include flexbox();
    width: 100%;
    margin: 10px 0;
    input {
      font-size: 1.1rem;
      border: none;
      border-bottom: 2px solid $gray;
      width: 92%;
      height: 35px;
      text-align: center;
      transition: 0.2s;
      &:focus {
        transition: 0.1s;
        outline: none;
        border-bottom: 2px solid $main-color;
      }
    }
    div {
      border-bottom: 2px solid $gray;
      width: 8%;
      height: 37px;
      @include flexbox();
      font-size: 1.2rem;
      color: $font-gray;
      transition: 0.2s;
      &:hover {
        transition: 0.1s;
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post--comments {
    ul {
      .post--comments--content {
        .userinfo {
          .img {
            width: 50px;
            height: 50px;
          }
          .name {
            font-size: 0.9rem;
          }
        }
        .btn {
          margin-right: 10px;
        }
      }
    }
  }
}
