.modal--view.post {
  justify-content: center;
  .modal--text--container {
    margin-bottom: 50px;
    .text {
      font-size: 1.3rem;
    }
  }
  .modal--btns--container {
    display: flex;
    .btn {
      @include button(35px, 0 20px);
    }

    &.player {
      width: 70%;
      display: flex;
      justify-content: space-between;
      .btn {
        @include button(35px, 0);
        width: 100%;
      }
    }
  }
  .modal--alert {
    color: red;
    margin: 20px 0;
  }

  .modal--timer {
    font-size: 1.2rem;
  }
}
