@mixin dropdown--selector() {
  cursor: pointer;

  position: relative;
  @include flexbox;
  border-bottom: 2px solid $gray;

  width: 100px;
  height: 35px;
  transition: 0.2s;
  span {
    margin-top: 4px;
    margin-right: 10px;
  }
}

@mixin dropdown--container() {
  .dropdown--container {
    position: absolute;
    width: 100px;
    background-color: white;
    border: 1px solid $gray;
    border-top: 0px;
    li {
      cursor: pointer;

      padding: 10px 0;
      text-align: center;
      &:hover {
        background-color: $light-main-color;
        color: white;
      }
    }
  }
}
