.list--container {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 0.2fr;

  .list--link--container {
    width: 100%;
    height: 380px;

    a {
      height: 380px;
      @include flexbox();
    }
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .list--container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 551px) and (max-width: 800px) {
  .list--container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .list--container {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
    width: 100%;

    .list--link--container {
      height: 150px;
      border-bottom: 1px solid $gray;

      a {
        height: 150px;
        flex-direction: row;
      }
    }
  }
}
