.search--type--container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;

  .search--type--btn {
    @include flexbox();
    font-size: 1.2rem;
    width: 50%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    span {
      margin-top: 2px;
      margin-left: 10px;
    }
    &.match {
      color: $main-color;
      background-color: white;
      border-bottom: 2px solid $main-color;
      transition: 0.2s;

      &.active {
        color: $white;
        transition: 0.2s;
        background-color: $main-color;
      }
    }
    &.trade {
      color: $sub-color;
      background-color: white;
      border-bottom: 2px solid $sub-color;
      transition: 0.2s;

      &.active {
        transition: 0.1s;
        color: $white;
        background-color: $sub-color;
      }
    }
  }
}

@media screen and #{$small} {
  .search--type--container {
    height: 40px;
  }
}
