.ranking--content {
  height: 7rem;
  width: 45rem;
  @include flexbox();
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1rem;

  > .ranking--profile {
    @include flexbox();
    flex-direction: column;
    width: 7rem;

    > img {
      @include flexbox();
      cursor: pointer;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      margin-bottom: 0.7rem;
    }

    > div {
      cursor: pointer;
      font-size: 0.9rem;
    }
  }

  > .ranking--content-rank {
    font-size: 1.5rem;
    text-align: center;
    width: 7rem;
    color: #333333;
    > .ranking--content-medal {
      width: 5rem;
      height: 5rem;
    }
  }

  > .ranking--content-point {
    text-align: center;
    width: 7rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
  }

  > .ranking--content-win {
    text-align: center;
    width: 5rem;
    font-size: 1.2rem;
    color: #333333;
  }

  > .ranking--content-lose {
    text-align: center;
    width: 5rem;
    font-size: 1.2rem;
    color: #333333;
  }

  > .ranking--content-rate {
    text-align: center;
    width: 10rem;
    font-size: 1.2rem;
    color: #333333;
  }
}

@media screen and (max-width: 768px) {
  .ranking--content {
    height: 5rem;
    width: 20rem;

    > .ranking--profile {
      width: 5rem;

      > img {
        width: 3rem;
        height: 3rem;
        margin-bottom: 0.5rem;
      }

      > div {
        font-size: 0.6rem;
      }
    }
    > .ranking--content-rank {
      width: 3rem;
      font-size: 0.9rem;
      > .ranking--content-medal {
        width: 3rem;
        height: 3rem;
      }
    }

    > .ranking--content-point {
      width: 3rem;
      font-size: 0.9rem;
    }

    > .ranking--content-win {
      width: 2.5rem;
      font-size: 0.8rem;
    }

    > .ranking--content-lose {
      width: 2.5rem;
      font-size: 0.8rem;
    }

    > .ranking--content-rate {
      width: 4rem;
      font-size: 0.8rem;
    }
  }
}
