.ranking--content {
  height: 7rem;
  width: 50rem;
  @include flexbox();
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;

  > .ranking--profile {
    @include flexbox();
    flex-direction: column;
    width: 8rem;

    > img {
      @include flexbox();
      cursor: pointer;
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    > div {
      cursor: pointer;
    }
  }

  > .ranking--content-rank {
    font-size: 1.5rem;
    text-align: center;
    width: 7rem;
  }

  > .ranking--content-win {
    text-align: center;
    width: 7rem;
    font-size: 1.5rem;
  }

  > .ranking--content-lose {
    text-align: center;
    width: 7rem;
    font-size: 1.5rem;
  }

  > .ranking--content-rate {
    text-align: center;
    width: 10rem;
    font-size: 1.5rem;
  }

  > .ranking--content-point {
    text-align: center;
    width: 7rem;
    font-size: 1.5rem;
  }
}
