@import "../components/Chat/ChatPost";
@import "../components/Chat/Message";

.chatroom--container {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  .chatroom--inner {
    @include flexbox();
    flex-direction: column;
    margin: 50px 0;
    width: 800px;
    border: 1px solid $gray;
    border-radius: 15px;
    .chatroom--header {
      @include flexbox();
      justify-content: space-between;
      border-bottom: 1px solid $light-main-color;
      height: 40px;
      width: 100%;
      .backbtn {
        cursor: pointer;
        margin-left: 5%;
        font-size: 1.1rem;
        color: $main-color;
        i {
          margin-right: 10px;
        }
      }
      .otherUser {
        @include flexbox();
        cursor: pointer;

        a {
          width: 100%;
          height: 90%;
          padding: 0 15px;

          .userinfo--container {
            @include flexbox();

            width: 100%;
            height: 100%;
            .img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 10px;

              img {
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 50%;
              }
            }
            span {
              font-size: 1.1rem;
              margin-top: 2px;
              font-weight: 500;
            }
          }
        }
        padding: 0 15px;
        height: 90%;
      }
      .otherBtn {
        cursor: pointer;

        margin-right: 5%;
        font-size: 1.1rem;
        color: red;
      }
    }
    .chatroom--chat--container {
      height: 600px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .chatroom--input--wrapper {
      @include flexbox();
      background-color: $white;
      height: 60px;
      width: 100%;
      border-radius: 0 0 15px 15px;
      .chatroom--input--container {
        @include flexbox();
        width: 90%;
        border: 1px solid $main-color;
        border-radius: 20px;
        background-color: white;
        input {
          box-sizing: border-box;
          border: none;
          height: 40px;
          // text-align: center;
          width: 90%;
          font-size: 1.2rem;
          &:focus {
            outline: none;
          }
        }
        .btn {
          @include flexbox();
          cursor: pointer;
          box-sizing: border-box;
          height: 40px;
          width: 30px;
          color: $font-gray;
          transition: 0.2s;

          &:hover {
            transition: 0.1s;
            color: $main-color;
          }

          i {
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
