@import "../components/CreatePost/EventSelector";
@import "../components/CreatePost/TypeSelector";
@import "../components/CreatePost/NoImage";

input::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.post--background {
  @include flexbox();
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.post--selectors {
  @include flexbox();
  @include dropdown--container();
  justify-content: center;
  align-items: center;
  width: 40rem;
  border-bottom: 2px solid $main-color;
}

.post--name {
  width: 20rem;
  margin: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 7rem;
  > i {
    color: $main-color;
  }
}

.post--name-tournament {
  width: 23rem;
  margin: 2rem;
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 10rem;
  > i {
    color: $main-color;
  }
}

.post--inputcontainer {
  @include flexbox();
  flex-direction: column;

  > .post--title {
    @include flexbox();
    flex-direction: column;
    text-align: left;
    margin: 1rem;

    > div {
      width: 36rem;
      font-size: 1.2rem;
      text-align: left;
      margin-top: 1rem;
    }

    > input {
      width: 35rem;
      height: 2rem;
      border: none;
      background: $gray;
      margin: 1rem;
      outline: none;
      padding: 10px;
    }
  }

  .post--price {
    @include flexbox();
    flex-direction: column;
    text-align: left;
    margin: 1rem;

    > div {
      width: 36rem;
      font-size: 1.2rem;
      text-align: left;
    }

    > input {
      width: 35rem;
      height: 2rem;
      border: none;
      background: $gray;
      margin: 1rem;
      outline: none;
      padding: 10px;
    }
  }

  > .post--text {
    @include flexbox();
    flex-direction: column;
    text-align: left;
    margin: 1rem;

    > div {
      width: 36rem;
      font-size: 1.2rem;
      text-align: left;
    }

    > textarea {
      padding: 10px;
      width: 35rem;
      height: 10rem;
      border: none;
      resize: none;
      outline: none;
      background: $gray;
      margin: 1rem;
    }
  }

  .post--address {
    @include flexbox();
    flex-direction: column;
    text-align: left;
    margin: 1rem;

    > div {
      width: 36rem;
      font-size: 1.2rem;
      text-align: left;
    }
  }

  > .post--imgcontainer {
    @include flexbox();
    flex-direction: column;

    > div:first-child {
      width: 36rem;
      font-size: 1.2rem;
      text-align: left;
      margin-top: 1rem;
    }

    > div {
      font-size: 0.9rem;
      margin: 1rem;
    }

    > .post--file {
      display: none;
    }

    > ul {
      @include flexbox();
      width: 40rem;
      justify-content: center;

      > li {
        position: relative;
        margin: 0.25rem;
        > img {
          border: 3px solid $gray;
          width: 7rem;
          height: 7rem;
        }

        > div {
          position: absolute;
          top: 1rem;
          right: 1rem;
          cursor: pointer;
          color: $main-color;
        }
      }
    }
  }
}

.post--btn {
  color: white;
  border: none;
  background-color: $main-color;
  border-radius: 3px;
  height: 3rem;
  width: 20rem;
  margin: 0.3rem;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    width: 16rem;
    height: 3rem;
    font-size: 0.7rem;
  }
}

.post--btncontainer {
  height: 7rem;
}

@media screen and (max-width: 768px) {
  .post--selectors {
    align-items: center;
    justify-content: center;
    width: 25rem;
  }

  .post--name {
    width: 10rem;
    font-size: 1rem;
    margin-right: 0;
  }

  .post--name-tournament {
    width: 10rem;
    font-size: 1rem;
    margin-right: 5rem;
  }

  .post--inputcontainer {
    .post--title {
      > div {
        font-size: 0.9rem;
        width: 20rem;
      }

      > input {
        width: 20rem;
        font-size: 0.8rem;
      }
    }

    .post--price {
      > div {
        font-size: 0.9rem;
        width: 20rem;
      }

      > input {
        width: 20rem;
        font-size: 0.8rem;
      }
    }

    .post--text {
      > div {
        font-size: 0.9rem;
        width: 20rem;
      }

      > textarea {
        width: 20rem;
        font-size: 0.8rem;
      }
    }

    .post--imgcontainer {
      > div:first-child {
        width: 20rem;
        font-size: 0.8rem;
      }
      > ul {
        flex-direction: column;
        width: 20rem;
      }
    }

    .post--address {
      > div {
        font-size: 0.9rem;
        width: 20rem;
      }
    }
  }

  .post--btncontainer {
    margin: 1rem;
  }
}
