.error--container {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  .error--inner {
    @include flexbox();
    flex-direction: column;
    margin: 100px 0;
    .icon {
      margin: 50px 0;
      font-size: 5rem;
      color: $sub-color;
    }
    .message {
      margin: 30px 0;
      font-size: 2rem;
      font-weight: bold;
    }
    .btn {
      @include button(50px, 0 20px);
      margin: 20px 0;
      a {
        color: $white;
      }
    }
  }
}
