@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
@media screen and (min-width: 801px) and (max-width: 1100px) {
}

@media screen and (min-width: 551px) and (max-width: 800px) {
}

@media screen and (max-width: 550px) {
}

.landing--container {
  @include flexbox();
  flex-direction: column;
  font-family: "Dongle", sans-serif;
  background-image: url("https://github.com/glen15/final-img/blob/master/%E1%84%87%E1%85%A2%E1%84%80%E1%85%A7%E1%86%BC%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png?raw=true");
  background-size: cover;
  min-width: 550px;
}

.landing--box {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first--container {
  @include flexbox();
  flex-direction: column;
}

.first--bottom {
  display: flex;
  align-items: center;
  width: 40rem;
}

.first--bottom--right {
  display: flex;
  flex-direction: column;
}

.first--title {
  font-size: 3rem;
  margin-bottom: 3%;
  width: 20rem;
}

.first--text {
  margin-top: 5%;
  font-size: 2rem;
}

.first--bottom--left > img {
  width: 100%;
  height: auto;
}

.first--bottom--img {
  position: relative;
  bottom: 5rem;
  right: 1.5rem;
  transform: rotate(290deg);
  width: 5rem;
  height: 5rem;
}

.first--bottom--img:hover {
  transform: rotate(275deg) scale(1.1);
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second--container {
  @include flexbox();
  flex-direction: column;
  position: relative;
  height: 90%;
  bottom: 5rem;
}

.second--bottom {
  background-color: #ccf092;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: rgba(225, 255, 177, 0.4) 5px 5px,
    rgba(225, 255, 177, 0.3) 10px 10px, rgba(225, 255, 177, 0.2) 15px 15px,
    rgba(225, 255, 177, 0.1) 20px 20px, rgba(225, 255, 177, 0.05) 25px 25px,
    rgba(225, 255, 177, 0.03) 35px 35px;
}

.second--title {
  font-size: 4rem;
  position: relative;
  top: 2rem;
}
.second--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 80%;
}
.second--card--img > img {
  height: 5rem;
  width: 5rem;
  translate: all 300ms ease;
}

.second--card--img:hover img {
  transform: rotate(-5deg) scale(1.1);
}

.second--card--img {
  @include flexbox();
  background-color: palegoldenrod;
  border-radius: 1rem;
  margin-bottom: 2rem;
  height: 6.5rem;
  width: 6.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.second--card--contents {
  @include flexbox();
  flex-direction: column;
}

.second--card--title {
  font-size: 2rem;
  margin-bottom: 13%;
}

.second--card--text {
  font-size: 1rem;
  text-align: center;
}

.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.third--container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.third--box--img > img {
  width: 12rem;
  height: 12rem;
  margin-top: 50%;
  transform: scaleX(-1);
  position: relative;
  right: 2rem;
}

.third--box--content > img {
  @include flexbox();
}

.button {
  background-color: #ffeb3b;
  border-radius: 1rem;
  border: none;
  font-family: "Dongle", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 8%;
  padding: 0 1rem;
  cursor: pointer;
  translate: all 300ms ease;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  box-shadow: 1px 1px 0 rgba(204, 174, 41, 0.5);
  position: relative;
  top: 2px;
}
