@import "../components/Profile/EditUserInfo";
@import "../components/Profile/DocList";
@import "../components/Profile/UserInfo.scss";
@import "../components/Profile/ProfileRank";
@import "../components/Profile/HistoryList";

.profile--background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
