.profile--background {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.profile--top {
  width: 70rem;
  height: 10rem;
  background: $main-color;
  z-index: -1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.profile--photocontainer {
  height: 12rem;
  width: 10rem;
  display: flex;
  justify-content: flex-end;
}

.profile--photo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  top: 10rem;
}

.fa-camera {
  @include flexbox();
  position: absolute;
  top: 17rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background: $main-color;
  border-radius: 50%;
}

.profile--namecontainer {
  @include flexbox();
  align-items: flex-end;
  font-size: 1.3rem;
  height: 6rem;
}

.fa-pencil-alt {
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  color: $gray;
  transition: 0.4s;
  &:hover {
    color: $main-color;
    transition: 0.2s;
  }
}

.profile--rankingcontainer {
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px $gray;
  width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 0.5rem;
  margin: 2rem;
}

.profile--rankingtap {
  display: flex;
  justify-content: center;
  height: 2rem;
  margin: 0.5rem;
}

.profile--rankingbtn {
  font-size: 0.8rem;
  transition: 0.4s;
  background: $gray;
  border-radius: 3px;
  color: white;
  margin: 0.3rem;
  margin-top: 0;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $main-color;
    transition: 0.2s;
  }
}

.profile--rankingbtn-selected {
  @include flexbox();
  font-size: 0.8rem;
  transition: 0.4s;
  background: $main-color;
  border-radius: 3px;
  color: white;
  margin: 0.3rem;
  margin-top: 0;
  width: 5rem;
  height: 2rem;
  cursor: pointer;
}

.profile--ranking {
  @include flexbox();
  font-size: 2rem;
  height: 4rem;
}

.profile--score {
  @include flexbox();
  font-size: 1.3rem;
  height: 1.5rem;
  color: gray;
}

.profile--doclist {
  @include flexbox();
  height: 5rem;
  width: 30rem;
}

.profile--doctap-selected {
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $main-color;
  color: $main-color;
  cursor: pointer;
  margin: 0.5rem;
  width: 7rem;
  height: 1.5rem;
}

.profile--doctap {
  @include flexbox();
  transition: 0.4s;
  border-bottom: 2px solid $gray;
  color: $gray;
  cursor: pointer;
  margin: 0.5rem;
  width: 7rem;
  height: 1.5rem;
  &:hover {
    color: $main-color;
    border-bottom: 2px solid $main-color;
    transition: 0.2s;
  }
}
