@import "../components/Ranking/Search.scss";
@import "../components/Ranking/EventTap.scss";
@import "../components/Ranking/RankList.scss";

.ranking--background {
  @include flexbox();
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.ranking--title {
  font-size: 3rem;
}

.ranking--list {
  @include flexbox();
  flex-direction: column;
  list-style: none;
  margin: 1rem;
}
