.tournament--result--container {
  @include flexbox();
  flex-direction: column;
  width: 100%;
  .result--inner {
    @include flexbox();
    flex-direction: column;
    width: 800px;
    margin: 50px 0 100px 0;
    border-radius: 15px;
    border: 1px solid $gray;
    box-shadow: 10px 10px 20px $gray;
    .title {
      @include flexbox();
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 50px;
    }
    .host {
      @include flexbox();
      font-size: 1.2rem;
      margin: 10px 0;
      border-bottom: 1px solid $gray;
      width: 80%;
      padding-bottom: 10px;
    }
    .firstplace {
      @include flexbox();
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 10px 0;
      i {
        margin: 0 15px;
        color: #ffcf4d;
      }
      span {
        margin: 10px 0;
      }
    }
    .secondplace {
      @include flexbox();
      flex-direction: column;
      font-size: 1.3rem;
      font-weight: 600;

      margin: 10px 0;

      i {
        margin: 0 10px;
        color: gray;
      }

      span {
        margin: 5px 0;
      }
    }
    .entry--container {
      .text {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 5px 0;
        i {
          margin: 0 10px;
          color: brown;
        }
      }
      .entries {
        font-size: 1.1rem;
        margin: 5px 0;
      }
    }
    .result--btn--container {
      @include flexbox();
      margin-top: 30px;
      margin-bottom: 100px;

      .btn {
        @include button(40px, 0 50px);
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .tournament--result--container {
    .result--inner {
      width: 95%;
    }
  }
}
