.header--container {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, $white, $font-gray, $white);
  border-image-slice: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--inner {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn--container {
  width: 400px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  a {
    font-size: 1.2rem;

    .btn {
      border-bottom: 6px solid white;
      border-top: 6px solid white;
      height: 40px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s;
      color: $font-gray;

      &:hover {
        color: $main-color;
        border-bottom: 2px solid $main-color;
        border-top: 2px solid white;
        transition: 0.1s;
      }
      span {
        display: inline-block;
      }
    }
  }
}

.logo--container {
  height: 100%;
  margin-left: 20px;
  a {
    height: 100%;
    .img {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}

@media screen and #{$small} {
  .header--container {
    .header--inner {
      justify-content: center;
      .btn--container {
        display: none;
      }
    }
  }
}

@media screen and #{$large} {
  .header--container {
    .header--inner {
      width: 1600px;
    }
  }
}
