@keyframes loadingindicator--inner {
  0% {
    top: 120.47999999999999px;
    left: 120.47999999999999px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 47.69px;
    left: 47.69px;
    width: 145.57999999999998px;
    height: 145.57999999999998px;
    opacity: 0;
  }
}

.loadingindicator--wrapper {
  @include flexbox();
  width: 500px;
  height: 500px;
  .loadingindicator--inner.loadingindicator--box {
    position: absolute;
    border-width: 5.02px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: loadingindicator--inner 1.2048192771084336s
      cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loadingindicator--inner.loadingindicator--box:nth-child(1) {
    border-color: #4e894b;
    animation-delay: 0s;
  }
  .loadingindicator--inner.loadingindicator--box:nth-child(2) {
    border-color: #eaa938;
    animation-delay: -0.6024096385542168s;
  }
  .loadingindicator {
    width: 251px;
    height: 251px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .loadingindicator--inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .loadingindicator--inner.loadingindicator--box {
    box-sizing: content-box;
  }
}
