.fixedBtn {
  width: 50px;
  height: 50px;
  background-color: $light-sub-color;
  position: fixed;
  transform: translate(-50%, -50%);
  @include flexbox();
  font-size: 1.8rem;
  color: $white;
  border-radius: 50%;
  box-shadow: 0 0 10px black;

  &.top {
    bottom: 50px;
    right: 50px;
    &.main {
      bottom: 110px;
    }
  }

  &.back {
    display: none;
    left: 50px;
    top: 50px;
    i {
      margin-right: 3px;
    }
  }

  &.create {
    right: 50px;
    bottom: 50px;
    a {
      width: 100%;
      height: 100%;
      @include flexbox();
      color: $white;
    }
  }
}

@media screen and #{$small} {
  .fixedBtn {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    &.top {
      bottom: 10px;
      right: 10px;
      &.main {
        bottom: 60px;
      }
    }

    &.create {
      bottom: 10px;
      right: 10px;
    }
  }
}

@media screen and #{$medium} {
  .fixedBtn {
    &.top {
      bottom: 30px;
      right: 25px;
      &.main {
        bottom: 80px;
      }
    }
    &.create {
      bottom: 20px;
      right: 25px;
    }
  }
}

@media screen and #{$small} {
  .fixedBtn {
    &.back {
      display: inherit;
    }
  }
}
