.modal--backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
}

.modal--view {
  display: flex;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 1;
  background: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  &.postcode {
    width: 60%;
    height: 400px;
  }
}

.modal--top {
  width: 600px;
  height: 150px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $main-color;
  margin-bottom: 1rem;
  @include flexbox();

  > img {
    width: 120px;
    height: 120px;
  }
}

.modal--content {
  @include flexbox();
  width: 400px;
  height: 150px;
}

.modal--delete {
  @include flexbox();
  flex-direction: column;
  > div:first-child {
    color: red;
    font-weight: bold;
  }

  > div {
    margin: 0.5rem;
  }
}

.modal--input {
  text-align: center;
  -webkit-appearance: none;
  font-size: 1rem;
  height: 3rem;
  width: 20rem;
  border: none;
  border-bottom: solid 1px $gray;
  transition: 0.4s;
  margin: 1rem;
  &:focus {
    transition: 0.2s;
    outline: none;
    border-bottom: solid 1px $main-color;
  }

  &::placeholder {
    color: $gray;
    font-size: 0.9rem;
  }
}

.modal--btncontainer {
  display: flex;
}

.modal--btn-ok {
  color: white;
  border: none;
  background-color: $main-color;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  margin: 5px;
  cursor: pointer;
}

.modal--btn {
  color: $main-color;
  border: 1px solid $gray;
  background-color: white;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  margin: 5px;
  cursor: pointer;
}

.modal--twobtn-ok {
  color: white;
  border: none;
  background-color: $main-color;
  border-radius: 3px;
  height: 50px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.modal--twobtn {
  color: $main-color;
  border: 1px solid $gray;
  background-color: white;
  border-radius: 3px;
  height: 50px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

// 반응형
@media screen and (max-width: 768px) {
  .modal--view {
    width: 22rem;
    height: 18rem;
  }

  .modal--top {
    width: 22rem;
    height: 5rem;

    > img {
      width: 80px;
      height: 80px;
    }
  }

  .modal--content {
    width: 300px;
    height: 120px;
    font-size: 0.9rem;
  }

  .modal--delete {
    > div {
      margin: 0.3rem;
      font-size: 0.8rem;
    }
  }

  .modal--input {
    width: 10rem;
    height: 2rem;
    font-size: 0.7rem;

    &::placeholder {
      color: gray;
      font-size: 0.7rem;
    }
  }

  .modal--btn-ok {
    width: 17rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }

  .modal--btn {
    width: 17rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }

  .modal--twobtn {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }

  .modal--twobtn-ok {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }
}
