.modal--backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 1s;
}

.modal--view {
  display: flex;
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  z-index: 1;
  background: white;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  min-width: 250px;
  flex-direction: column;
  align-items: center;
  &.postcode {
    width: 60%;
    height: 400px;
  }
}

.modal--top {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $main-color;
}

.modal--content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 300px;
  height: 100px;
  margin: 10px;
}

.modal--btncontainer {
  display: flex;
}

.modal--btn-ok {
  color: white;
  border: none;
  background-color: $main-color;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  margin: 5px;
  cursor: pointer;
}

.modal--btn {
  color: $main-color;
  border: 1px solid gray;
  background-color: white;
  border-radius: 3px;
  height: 50px;
  width: 300px;
  margin: 5px;
  cursor: pointer;
}
